
$icon-bell: "\EA01" !default;

$icon-checking: "\EA02" !default;

$icon-close: "\EA03" !default;

$icon-eye: "\EA04" !default;

$icon-like: "\EA05" !default;

$icon-lock: "\EA06" !default;

$icon-msg: "\EA07" !default;

$icon-search: "\EA08" !default;

$icon-user: "\EA09" !default;

$icon-users: "\EA0A" !default;