.icon {
  font-family: $global-font-icon;
  position: relative;
  color: $icons-color;

  &:before {
    position: absolute;
  }

  &.-bell {
    &:before {
      content: $icon-bell;
      font-size: 2.5rem;
      right: -75px;
      top: -5px;
    }
  }
  &.-checking {
    &:before {
      content: $icon-checking;
    }
  }
  &.-close {
    &:before {
      content: $icon-close;
    }
  }
  &.-eye {
    &:before {
      content: $icon-eye;
      left: 35px;
      font-size: 2.3rem;
    }
  }
  &.-like {
    &:before {
      content: $icon-like;
      left: 35px;
      font-size: 2.3rem;
    }
  }
  &.-lock {
    &:before {
      content: $icon-lock;
      font-size: 2rem;
      top: -70px;
      left: 15px;
      font-weight: bold;
    }
  }
  &.-msg {
    &:before {
      content: $icon-msg;;
      font-size: 2.5rem;
      right: -70px;
      top: -2px;
    }
  }
  &.-search {
    &:before {
      content: $icon-search;
      top: -20px;
      right: 15px;
      font-size: 2.5rem;
      color: $search-color;

    }
  }
  &.-user {
    &:before {
      content: $icon-user;
      font-size: 2rem;
      top: -70px;
      left: 15px;
      font-weight: bold;
    }
  }
  &.-users {
    &:before {
      content: $icon-users;
      left: 35px;
      font-size: 2.3rem;
    }
  }

}