.header {
	background: $nav-panel-color;
	border-bottom: 1px solid $border-color;
	width: 100%;

	.header-gradient {
		width: 100%;
		height: 9px;
		background: linear-gradient(to right, $primary-color-green 1.35%,
      	                                  $primary-color-blue 0.875%, 17.50%,
      	                                  $primary-color-red 17.50%, 33.75%,
      	                                  $primary-color-orange 33.75%, 50.125%,
      	                                  $primary-color-green 50.125%, 66.35%,
      	                                  $primary-color-blue 66.35%, 82.55%,
      	                                  $primary-color-red 82.55%, 98.85%,
      	                                  $primary-color-orange 0.875%);
	}
}
.header-nav {
	padding: 10px 0 5px;
}
.header-search {
	position: relative;

	[type='text'] {
		border-radius: $border-radius;
		border: 1px solid $border-color;
		color: $search-color;
		font-size: 30px;
		margin-left: 70px;
		margin-top: 15px;
		outline: none;
		padding: 15px 20px;
		width: 460px;
	}

}
.header-nav-bar {

	.nav-bar-items {
		display: inline-block;
		font-size: 1.7rem;
		font-weight: bold;
		letter-spacing: 1.5px;
		line-height: 2.4;
		list-style: none;
		margin-left: 60px;

		&:nth-of-type(4) {
			margin-left: 85px;
		}

		.items {
			@include link-text;

			&:hover {
			color: $nav-a-color + 25%;
			}
		}

		&:first-child {
			margin-left: 0;
		}
	}
}

.header-icons {

	.header-icon {
		@include link-text;
		@include round;
		position: relative;
		z-index: 999;

		background: $primary-color-red;
		border: 3px solid $primary-white;
		color: $primary-white;
		font-size: 1.4rem;
		font-weight: bold;
		text-align: center;
	}
	.header-icon-logo {
		@include round;
		background: url(../img/avatar.jpg);
	}
}