.content-switch {
  margin-top: 15px;

  .switch-round {
    margin-right: 35px;
  }

  .switch-square {
    position: relative;

    .switch {

      &:after,
      &:before {
        font-family: $global-font-icon;
        color: $primary-white;
        position: absolute;
        font-size: 1.6rem;
        top: 15px;
        font-weight: bold;
      }

      &:before {
        content: $icon-checking;
        left: 15px;
        z-index: 1;
      }

      &:after {
        right: 15px;
        content: $icon-close;
      }
    }
  }
}

.switch {
  display: block;
  height: $switch-label-width + 8;
  margin-bottom: 30px;
  position: relative;
  width: 100px;

  input {
    display: none;
  }

  input:checked + .slider {
    background-color: $primary-color-green;
  }

  input:checked + .slider:before {
    -ms-transform: translateX($switch-label-width + 8);
    -webkit-transform: translateX($switch-label-width + 8);
    transform: translateX($switch-label-width + 8);
  }

  .slider {
    -webkit-transition: .4s;
    background-color: $primary-color-red;
    border-radius: $border-radius;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;

    .switch-on {
      font-size: 1.2rem;
      line-height: $switch-label-width + 5;
      color: $primary-white;
      font-weight: bold;
      margin-left: 15px;
      text-transform: uppercase;
    }
    .switch-off {
      float: right;
      font-size: 1.2rem;
      line-height: $switch-label-width + 5;
      margin-right: 15px;
      color: $primary-white;
      text-transform: uppercase;
      font-weight: bold;
    }

    &:before {
      -webkit-transition: .4s;
      background-color: $primary-white;
      border-radius: $border-radius;
      bottom: 4px;
      content: "";
      height: $switch-label-width;
      left: 4px;
      position: absolute;
      z-index: 5;
      transition: .4s;
      width: $switch-label-width;
    }
  }
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: $border-radius-round;
  }
}
